* {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

header,
.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
}

.header-links {
  display: flex;
  gap: 20px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

a,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  padding: 50px;
  gap: 50px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero button {
  margin-top: 15px;
  background: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 900;
}

.hero-left-wrapper,
.image-wrap {
  flex: 1;
}

.image-wrap img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.random-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 100px;
}
.info-header {
  padding: 20px 0;
}
.info-boxes {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-align: center;
  padding: 30px 150px;
}

.info {
  flex: 1;
}

.info-box {
  border: 3px #3882f6 solid;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  min-height: 50px;
  min-width: 120px;
  margin-bottom: 10px;
}
.info-text {
  font-size: 14px;
  color: #595d64;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 100px 150px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.quote-section p:last-child {
  margin-left: auto;
  font-weight: 900;
}

.callToAction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colored-footer {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  padding: 30px 80px;
  margin: 40px 50px;
}
.cta-header {
  font-weight: 900;
}
.cta-text {
  font-weight: 100;
  padding-top: 4px;
  font-size: 14px;
}

.colored-footer button {
  text-decoration: none;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 5px 20px;
}
